@font-face {
  font-family: 'MyriadPro', sans-serif;
  src:  url('../fonts/MyriadPro.woff2') format('woff2'),
        url('../fonts/MyriadPro.woff') format('woff');
        font-weight: 400;
        font-display: swap;

}
