html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}
a{
  display: inline-block;
  text-decoration: none;
  color:#000;

}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
}