@import 'vars';
@import 'global';
@import 'fonts';

.header{
  color: #333333;
}


.header__top{
  background-color: #eef1f3;
  &-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;
  padding-right: 15px;
  height: 100px;
  }
  &-links{
    margin-left: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 50px;
  }
  &-icons{
    font-size: 20px;
    color:#7e8fa1;
    a + a {
      margin-left: 33px;
    }
    a{
      position: relative;
    }
    span{
      font-size: 14px;
      color:#fff;
      @include f500;
      position: absolute;
      top:-14px;
      left:17px;
      min-height: 22px;
      min-width: 22px;
      border-radius:50%;
      background-color: #ff6a6c;
      text-align: center;
      line-height: 20px;
      padding-left: 2px;
      padding-right: 2px;
    }
    .basket{
      background-color: #0674ec;
    }
    .message{
      background-color: #62d03b;
    }

  }

  &-name{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom: 8px;
    display: block;
  }
  &-balance{
    color: #0674ec;
    font-size: 15px;
    display: block;
  }
  &-avatar{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
  }
  &-profile{
    display: flex;
    justify-content: space-between;
  }
  &-btn{
    color:#fff;
    font-size: 14px;
    line-height: 28px;
    width: 140px;
    padding: 4px;
    background-color: #0674ec;
    text-align: center;
    border-radius:15px;
    margin-right: 50px;
  }
}
.header__bottom{
  background-color:#fff;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }
}
.header__bottom-search,
.search__line{
    width: 360px;
    position: relative;
    input{
      display: inline-block;
      width: 100%;
      border:1px solid #d9dfe5;
      height: 44px;
      border-radius: 18px;
      padding-left: 24px;
      padding-right: 80px;
      border-right: none;
      font-size: 15px;
      line-height: 30px;
      outline: none;      
       &::placeholder{       
        color:#898f96;
        }
    }    
    button{
    width: 70px;
    height: 44px;
    background-color: #0674ec;
    border-radius: 18px;
    position: absolute;
    top: 0px;
    right: 0;
    border:none;
    }
}   

.menu{
  display: flex;
  align-items: center;
  height: 80px;
  li{
    display: inline-block;
    & + li{
      margin-left: 34px;
    }
  }
  a{
    color:#333333;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    

  }
}
//end header
//start product

.products{
  position: relative;
  background-color: #294dcf;
  min-height: 724px;
  &__texts{
    margin:0 auto;
    color: #fff;
    text-align: center;
    padding-top: 187px;
    &-title{
        padding-bottom: 10px;

    }
  }
  
}
.products__btn {
      text-align: center;
      a{
      font-size: 16px;
      color:#fff;
      padding: 15px 30px;
      background-color: #294dcf;
      border: 1px solid #fff;
      border-radius: 35px;
      display: inline-block;
      margin:0 15px;
      &:hover{
        background-color: #fff;
        color: #0674ec;
      }
    }

    }
    
 
.products__texts-head{
font-weight: 400;
font-size: 60px;
}
.products__texts-foot{
  font-weight: 700;
  font-size: 50px; 
}
     
.products__texts-paragraph{
      font-size: 20px;
      font-weight: 500;
      padding-bottom: 60px;
}
 

.products__search-panel{
  position: absolute;
  bottom: -66px;
  height: 135px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: -2px -23px 0px -11px rgba(255,255,255,0.5);
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  
  
  select{
    font-size: 16px;
    color:$text;
    margin-left: -3px;;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../images/icons/arrow-down.png);
    background-repeat:no-repeat;
    background-position: 90% 50%;
    width: 195px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    
      
    
  }
}
.products__search-options{
  margin-left: 40px;
  border: 1px solid #dcdcdc;
  height: 53px;
  border-radius: 1px;
  display: inline-block;
  input{
    height:100%;
    border:none;
    border-right: 1px solid #dcdcdc;
    width: 610px;
    font-size: 16px;
    color: #676767;
    padding: 0 30px;
    outline: none;    
  }
  select{
    outline: none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 0; 
    border-right: 0; 
    border-left: 0; 
  }
  .jq-selectbox__select {
    height: 51px;
    padding: 0 45px 0 10px;
    border:none;
    border-bottom-color:none;
    border-radius: none;
    background: none;
    box-shadow: none;
    font: 0;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    color: #676767;
    text-shadow: none;
    line-height: 47px;
    width: 193px;
    position: relative;
    &::before{
      content:"\ec3a";
      font-family: 'Linearicons';
      position: absolute;
      right: 18px;
      top:2px;
      font-size: 10px;
      color:$text;
    }
  }
  .jq-selectbox__trigger{
    border-left:none;
  }
  .jq-selectbox.focused .jq-selectbox__select {
    border:none;
  }
}
.products__search-button{
  margin: 0 40px 0 30px;
  height: 53px;
  border:none;
  background-color: #0674ec;
  font-size:16px;
  line-height: 42px;
  border-radius:1px;
  a{
    color:#fff;
    padding: 0 56px;
  }

}

//end product
//start advantages

.advantages{
  padding: 187px 0 120px;
  &__item{
    max-width: 360px;
    padding:0 15px;
    text-align: center;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
.advantages__wrapper{
  padding-top: 1px;
  padding-bottom: 1px;
}
.advantages__wrapper:hover{
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius:5px;
  cursor: pointer;
}
.advantages__item-images{
  margin:48px auto 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__item{
  &-title{
    font-size: 24px;
    color: #000;
    margin-bottom: 34px;
    
  }
  &-text{
    @include mar400;
    color:$text;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 50px; 
  }
}
//end advantages
//start weekly slider
.weekly__slider{
  background-color: #eff1f5;
  padding: 120px 0;

    &-title-bg{

      background-color: #7347c1;
      
    }
  }


.slider-arrows__next,
.slider-arrows__prev{
  height: 15px;
  width: 15px;
  position: absolute;
  right: 47px;
  top: -113px;
  z-index: 1;
  cursor: pointer;
}
.slider-arrows__prev{
  right:107px;
}


.weekly__item{
  display: flex;
  justify-content: space-between;
  position: relative;
  
}
.weekly__item-brands{
  display: flex;
}
.weekly__item-img{
    max-width: 555px;
    min-height: 450px;
    
    
    
}

.weekly__item-content{
    background-color: #fff;
    padding: 50px 50px 0 50px;
    max-width: 580px;
    min-height: 450px;
    position: absolute;
    right: 0;
    top: 0;
}
.weekly__item-title{
    font-weight: 500;
    font-size: 24px;
    color:#000;
    margin-bottom: 15px;
}
.weekly__item-companie{
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;    
    span{
      color:#7347c1;
    }
 }
.weekly__item-paragraph{
    font-size: 16px;
    line-height: 30px;
    color: $text;
    margin-bottom: 35px;
    margin-top: 0;
} 
.weekly__item-categories a{
    font-size: 15px;
    line-height: 30px;
    background-color: #f1f3f6;
    border-radius: 25px;
    padding: 0 15px;
    color:#868c96;
    margin-bottom: 34px;
    text-align: center;
}
.weekly__item-texts{
    border-bottom: 1px solid #ececec;
}
.weekly__item-aaztech,
.weekly__item-companie{
    display: flex;
    align-items: center;
    
    a{
      padding-left: 20px;
    }
}
    


.weekly__item-button{
      padding: 10px 19px;
      background-color: #0674ec;
      color:#fff;
      font-size: 15px;
      font-weight: 500;
      border-radius: 15px;
    
    span{
      margin-left: 40px;
      position: relative; 
      
    }
}  
  
.weekly__item-basket,
.weekly__item-heart{
    font-size: 15px;
    line-height: 30px;
    color: $text;
    position: relative;
    padding-left: 40px;
      
}
.weekly__item-basket::before,
.weekly__item-heart::before{
  font-family: 'icomoon';
  content: "\f08a";
  color:#7347c1;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  left: 19px;
  top: -4px;
}

.weekly__item-heart{
  color:#0674ec;
 
}
.weekly__item-heart::before{
  content: "\f07a";
  color:#0674ec;

}

.weekly__item-aaztech span{
  color:#000;
}
.weekly__item-btns{
  padding: 25px 0;
}
.weekly__item-links{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
//end weekly slider
//start release
.release{
  padding: 120px 0;
  background-color: #f6f7fb;
  &__title{
    margin-bottom: 30px;
  }
  &__title-bg{
    font-size: 16px;
    line-height: 32px;
    color:#747b86;
    padding-right: 30px;
  }
}
.release__inner-btn{
    min-height: 92px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 50px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    button{
      font-size: 15px;
      color:#747b86;
      padding: 8px 13px;
      text-align: center;
      background-color: #f1f3f6;
      border-radius: 25px;
      cursor: pointer;
      & + button{
        margin-left: 8px;
      }
      &:hover{
        background-color: #0674ec;
        color:#fff;
      }
    }
}
.release__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.release__item{
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 360px;
    width: 100%;
    margin-bottom: 30px;
    
    &-img{
        min-height: 232px;
        background-repeat: no-repeat;
        display: block;
        background-position:center;
        background-size: cover;
        position: relative;
        transition: all .5s;
        &:hover &-btns{
        display: block;
        text-align: center;  
        }
        &-btns{   
            display: none;       
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 91px;
            background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
            
            
          a{
            background-color: transparent;
            padding: 18px 28px;
            border-radius:25px;
            border:1px solid #fff;
            font-weight: 500;
            color:#fff;
            margin: auto 0;
            & + a{
              margin-left: 10px;
            }

            &:hover{
              background-color: #fff;
              color:#0674ec;
            }

          }

        }
      }

    
    &-content{
      padding: 30px;
      border-bottom:1px solid #ececec;
    }
}

.release__item{
  &-title{
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
  }
  &-avatar{
    min-width: 30px;
    height: 30px;
    border-radius:50%;
    background-position:center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-author{
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
    span{
      margin-left: 10px;
      
    }
  }
  &-companies{
    display: inline-flex;
    align-items: center;
    margin-bottom: 35px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
    color:$text;
  }
}
.release__program{
  min-width: 15px;
  height: 15px;
  &-name{
    color:#7347c1;
  }
}
.release__star {
  &.jq-ry-container{
  display: inline-block;
}
}
.release__item{
  &-links{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;   
    align-items:center
  }
  &-price-btn{
    padding: 8px 10px;
    background-color: #e6f1fd;
    color:#0674ec;
    font-weight: 500;
    border-radius:25px;

  }
}
.release__heart::before,
.release__basket::before{
    font-family: 'icomoon';
    font-size: 15px;
    line-height: 30px;
    position: absolute;
}

.release__heart{
  margin-left: 40px;
  position: relative;
  color:#6f7d8d;
  &:before{
    content:"\f08a";  
    color: #7347c1;
    top: -6px;
    left: -23px;

  }
}
.release__basket{
  color:#0674ec;
  position: relative;
  &::before{
    content: "\f07a";
    color: #0674ec;
    top: -8px;
    left: -20px;
  }
}
.release__item-links-statistics{
  display: inline-block;
}
.release__bottom-btn{
  text-align: center;
  margin-top: 30px
}
//end release
//star slider-release
.release__slider{
  padding: 120px 0;
  background-color: #eff1f5;
  &-title-bg{
    background-color: #0674ec;
  }
}
//end slider-release
//start statistics
.statistics{
  background-color: #212225;
  padding: 95px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    min-width: 115px;
    text-align: center;
  }
  &__numerals{
    color:#feb71d;
    font-size: 36px;
    padding-top: 80px;
    position: relative;
    &:before{  
    content: "\eb3a";
    font-family: 'Linearicons';
    font-size: 48px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    }
  }
  &__text{
    font-size: 18px;
    color:#fff;
    margin-top: 18px;
  }
}
.statistics__numerals-total{
  color:#58c9e9;
  &::before{
    content:"\e94c";
  }
}
.statistics__numerals-happy{
  color:#77de51;
  &::before{
    content:"\eb8a";
  }
}
.statistics__numerals-members{
  color:#ff6a6d;
  &::before{

    content:"\ea23";
  }
}

//end statistics
//start priveleges
.priveleges{
  padding: 120px 0 90px;
  background-color: #fff;
}
.head-inner{
    max-width: 675px;
    text-align: center;
    margin: 0 auto;
}
.head-name{
  font-size: 36px;
  color:#000;
  margin-bottom: 30px;
  span{
    color:#0674ec;
  }
}
.head-text{
  font-size: 16px;
  color:$text;
  line-height: 30px;
  margin-bottom: 50px;
}
.priveleges__wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.priveleges__box{
  max-width: 360px;
  width: 100%;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
  &-numbers{
    @include f300;
    color:rgba(92, 135, 248, .4);
    font-size: 48px;
    padding-top: 20px;
    padding-left: 20px;
  }
  &-texts{
    padding: 100px 34px 60px;
    text-align: center;
    position: relative;
    &::before{
      content:"\e9dc";
      font-family: 'Linearicons';
      position: absolute;
      top:0;
      left:0;
      right:0;
      color:#0674ec;
      font-size: 60px;
    }
  }
  &-title{
    font-size: 24px;
    margin-bottom: 25px;
  }
  &-paragraph{
    font-size: 16px;
    line-height: 30px;
    color:$text;
  }
}
.priveleges__box-texts-telephone::before{
  content:"\ea77";
  color:#ff6a6d;
}
.priveleges__box-texts-organazed::before{
  content:"\eafc";
  color:#feb71d;
}
.priveleges__box-texts-secure::before{
  content:"\e96b";
  color:#77de51;
}
.priveleges__box-texts-update::before{
  content:"\eb2d";
  color:#58c9e9;
}
.priveleges__box-texts-quality::before{
  content:"\e92b";
  color:#7f4ec2;
}

//end priveleges
//start links
.links__wrapper{
  display: flex;
}
.links__inner{
  width: 50%;
  min-height: 560px;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links__box{
  text-align: center;
  max-width: 565px;
  width: 100%;
  color:#fff;
  &-images{
    margin-bottom: 45px;
  }
  &-title{
    font-size: 36px;
    margin-bottom: 30px;
  }
  &-text{
    font-size: 16px;
    line-height: 30px;
    
  }
  &-btn{
    a{
      padding: 22px 26px;
      background-color: #fff;
      color:#0674ec;
      border-radius:33px;
      margin-top: 50px;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      font-size: 16px;
      text-align: center;
    }
  }

}
.links__box-btn-buy{
  a{
    color:#7347c1;
    padding: 20px 40px;
  }
}
//end links
//start clients
.clients{
  padding: 120px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }
}
.clients__box{
  max-width: 553px;
  width: 100%;
  border-left:2px solid #0674ec;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  padding: 50px 40px 0 38px;
  &-images{
    height: 80px;
    width: 80px;
    border-radius:50%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 20px;
  }
  &-profile{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    &::before{
      content:"\ead6";
      font-family: 'Linearicons';
      position: absolute;
      top:0;
      right:0;
      font-size: 60px;
      color:#e8e8e8;
    }
  }
  &-name{
    margin-bottom: 10px;
    font-size: 20px;
  }
  &-profession{
    font-size: 16px;
    color:$text;
  }
  &-text{
    font-size: 16px;
    color:$text;
    line-height: 30px;
    padding-bottom: 53px;
  }
}
.bottom-btn{
  text-align: center;
}
//end clients
//start news
.news{
  padding: 120px 0;
  background-color: #eff1f5;
  .release__icons{
    line-height: 30px;
    color:#7e7e7e;
    border-left:1px solid #ececec;
    span{
      padding-left: 55px;
    }
  }
  .release__item-links{
    padding: 15px 30px;
  }
  .release__item-links-statistics{
    span{
      color:#999999;
      padding-left: 24px;
    }
  }
  .release__comment,
  .release__watch,
  .release__item-links-statistics{
    position: relative;
    &::before{
      content: "\ead6";
      font-family: 'Linearicons';
      position: absolute;
      right:22px;
    }
  }
  .release__watch::before{
    content:"\e9a5";
    right:32px;
  }
  .release__item-links-statistics:before{
    content:"\ebea";
    left:0;
    color:#0674ec;
  }
  .release__item-content{
    min-height: 194px;
  }
}
.news__wrapper{
  display: flex;
  justify-content: space-between;
}
//end news
//start pros
.pros__wrapper{
  display: flex;
}
.pros__box{
  width:50%;
  border-right:1px solid #e8eaf3;
  padding: 65px 0;
  text-align: center;
}
.pros__text{
  padding-top: 32px;
  font-size: 24px;
  span{
    color:#0674ec;
  }
}
.pros__box-support{
  border:none;
  span{
    color:#7347c1;
  }
}
//end pros
//start join
.join{
  background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  padding: 110px 0;
  &__wrapper{
    text-align: center;
    color:#fff;
    a{
      color:#0674ec;
      padding: 20px 44px;
      text-align: center;
      background-color: #fff;
      border-radius:35px;
    }
  }
  &__title{
    font-size: 36px;
    margin-bottom: 23px;
  }
  &__text{
    font-size: 18px;
    margin-bottom: 50px;
  }
}
//end join
//start footer
.footer__bottom{
  background-color: #192027;
  padding: 39px 0;
  text-align: center;
  span{
    color:#999999;
  }
  a{
    color:#fff;
  }
}
.footer{
  background-color: #262b30;
  padding: 100px 0;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
.footer__box,
.footer__box a{
  color:#ababab;
}
.footer__box-contacts{
  max-width: 264px;
  width: 100%;
}
.footer__logo{
  margin-bottom: 35px;
}
.footer__box-text{
  margin-bottom: 27px;
}
.footer__box-links{
  div{
    margin-top: 20px;
  }
  div,span{
    padding-left: 30px;
    position: relative;
  }
}
.footer__tel::before,
.footer__mail::before,
.footer__adress::before{
  content:"\ea6a";
  font-family: 'Linearicons';
  position: absolute;
  left: 0;
  top:0;
  color:#fff;
  font-size: 16px;
}

.footer__mail::before{
  content:"\e996";
}
.footer__adress::before{
  content:"\ea7a";
  top:6px;
}
.footer__adress{
  line-height: 26px;

}
.footer__box-title{
  color:#fff;
  font-size: 18px;
  padding-top: 17px;
  margin-bottom: 35px;
}
.footer__box-list{
  max-width: 150px;
  width: 100%;
  li + li{
    margin-top: 17px;
  }
}
.footer__box-icons{
  a{
  width: 42px;
  height: 42px;
  border-radius:50%;
  position: relative;
  background-color: #395799;
  &::before{
    font-family: 'icomoon';
    content:"\f09a";
    font-size: 16px;
    color:#fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  }
  a + a{
    margin-left: 14px;
  }
  .box-icons-twitter{
    background-color: #19b2f5;
    &::before{
      content:"\f099";
    }
  }
  .box-icons-google{
  background-color: #f05b44;
    &::before{
    content:"\f1a0";
    } 
  }  
  .box-icons-pinterest{
  background-color: #9c0c1c;
    &::before{
    content:"\f0d2";
    }  
  }
  .box-icons-linkedin{
    background-color: #0da6be;
    &::before{
    content:"\f0e1";
    }  
  }
    .box-icons-ball{
    background-color: #ea4c89;
    &::before{
    content:"\f17d";
    }  
  }
}
.footer__box-search{
  max-width: 362px;
  width: 100%;
  .footer__box-text{
    margin-bottom: 34px;
  }
  input{
    margin-bottom: 48px;
  }
}
//end footer
//start search-panel
.search-panel{
  background: linear-gradient( to left, rgb(6,116,236) 0%, rgb(61,94,215) 46%, rgb(115,71,193) 100%);
  padding-top: 90px;
  padding-bottom: 35px;
  text-align: center;
  .breadcrumbs{
    margin-top: 40px;
  }
  .search-panel__line{
    input{
      width: 100%;
      border: 1px solid #d9dfe5;
      height: 44px;
      border-radius: 35px;
      padding-left: 30px;
      padding-right: 140px;   
    }
    form{
      margin: 0 auto;
      max-width: 558px;
      position: relative;
    }
    button{
      position: absolute;
      width: 110px;
      height: 45px;
      background-color: #0674ec;
      border-radius: 28px;
      top: -1px;
      right: -2px;
      border: none;
    }
    a{
      font-size: 15px;
      color:#fff;

    }
  }
}
.search-panel__title{
  font-size: 26px;
  color:#fff;
  margin-bottom: 32px;
  span{
    @include f500;
  }
}
//end search-panel
//start category
.category__head{
  min-height: 100px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-link{
    a{
      color:$text;
      font-size: 16px;
      line-height: 30px;
      transition: all .5s;
      & + a{
        margin-left: 40px;
      }
    }
    a:hover{
      color:$blue;
    }
    
  }
}
.category__head-options{
  .jq-selectbox__select {
  height: 43px;
  padding: 0 86px 0 20px;
  border: 1px solid #eceff2;
  border-bottom:1px solid #eceff2;
  border-radius: 4px;
  background: #fff;
  box-shadow: none;
  font: 0;
  color: $text;
  text-shadow: 0;
  position: relative;
  &::before{
    content:"\ec3a";
    font-family: 'Linearicons';
    position: absolute;
    right: 18px;
    top:5px;
    font-size: 10px;
    color:$text;
  }
  .jq-selectbox__dropdown {
    width: 226px;
  }
  .jq-selectbox__select-text{
    line-height: 41px;
    width: 100% !important;
    color:#747b86;
  }
  .jq-selectbox__trigger{
  border-left:none;
  }
  .jq-selectbox__trigger-arrow {
    position: absolute;
    top: 14px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: none; 
    border-right: none; 
    border-left: none;
  }

  }
}



.category__head-filter{
  display: flex;
  align-items: center;
  padding: 9px 20px;
  border: 1px solid #eceff2;
  color:$text;
  border-radius: 4px;
  button{
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    &.active{
      color:$blue;
    }
  }


}
.category__head-options{
  margin-left: auto;
  margin-right: 30px;
  select{
    height: 42px;
  }
  select + select{
    margin-left: 30px;
  }
}

//end category
//start categories
.categories{
  padding: 80px 0 120px;
  background-color:$bg;
  .categories__item-stars{
    display: flex;
    justify-content: space-between;
  }
  .release__item-content{
    padding: 20px 20px 16px 20px;
  }
  .release__item-title{
    font-size: 18px;
  }
  .release__item-companies {
    margin-bottom: 20px;
  }
  .release__item-links {
    padding: 20px;
  }
  .release__item-author{
    padding-right: 0;
  }
  .jq-ry-container{
    padding: 0;
  }
  .release__item-img {
    min-height: 160px;
  }
  .release__item {
    max-width: 260px;
  }
}
.categories__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories__inner{
  display: flex;
}
.categories__aside{
  margin-right: 30px;
  .jq-radio.checked .jq-radio__div {
    width: 15px;
    height: 15px;
    margin: 0;
    border-radius: 50%;
    background: #7347c1;
    box-shadow: none;
    outline: none;
  }
  .jq-checkbox, .jq-radio {
    vertical-align: -4px;
    width: 17px;
    height: 17px;
    margin: 0;
    border: 1px solid #C3C3C3;
    background: none;
    box-shadow: none;
    cursor: pointer;
}
}
.categories__aside-item{
  background-color: #fff;
  width: 263px;
  margin-bottom: 30px;
  padding: 0 30px 24px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}
.categories__aside-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 25px;
  border-bottom:1px solid #e7ebee;
  margin-bottom: 19px;
  &-name{
    font-size: 20px;
    color:#010101;
  }
}
.categories__aside-title-radio,
.categories__aside-title-link,
.categories__aside-title-range{
    font-size: 12px;
    color:$text;
    border:none;
    outline: none;
    cursor: pointer;
    padding:0;
}
.category__list.category__list-link{
  .active{
    .category__list-radio{
      display: none;
    }
  }
}
.category__list{
  li{
    padding: 11px 0 11px 20px;
    display: flex;
    justify-content: space-between;   
  }
  li{
    position: relative;
    &::before{
      content:"\ec3c";
      font-family: 'Linearicons';
      position: absolute;
      left: 0;
      top:14px;
      color:#747b86;
      font-size: 10px;
    }
  }
  a{
    transition: all .5s;
    color:$text
  }
  a:hover{
    color:$blue;
  }
  span{
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
    color:#747b86;
  }
  p{
    padding: 11px 0;
    margin: 0;
  }
  
}
.category__list-link{
  span{
    margin: 0;
  }
}
.irs-min,
.irs-max{
    display: none;
}
.irs--flat .irs-line{
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar {
    height: 6px;
    background-color: #7347c1;
}

.irs--flat .irs-handle{
    width: 16px;
    height: 16px;
    border-radius:50%;
    border:4px solid green;
    background-color: #fff;
}
.irs--flat .irs-handle>i:first-child{
    display:none;
}
.irs-from, .irs-single, .irs-to {
    top: 45px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
    display: none;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0px;
}
.irs--flat .irs-handle {
    top: 19px;
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
    color: #7347c1;
    font-size: 15px;
    line-height: 1.333;
    padding: 6px 0;
    width: 65px;
    background-color: #f1ecf9;
    border-radius: 15px;
    text-align: center;
}
.irs .irs-from{
  left:0 !important;
}
.irs .irs-to{
  left: 68.1995% !important;
}
.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid $blue;
    background-color: #fff;
}
.aside__btn{
  margin-top: 75px;
  width: 170px;
  padding: 15px 5px;
  text-align: center;
  color:#fff;
  border-radius:20px;
  background-color: $blue;
  @include f500;
  cursor: pointer;
  border:none;
}
.categories__aside-item.price-range{
  form{
    text-align: center;
  }
}
.categories{
  .pagination__list{
    margin-top: 30px;    
    display: flex;
    justify-content: flex-end;
    li{
      display: inline-block;
      &:first-child{
        margin-right: 15px;
      }
      &:last-child{
        margin-left: 20px;
        a{
        background-color: #7347c1;
        color:#fff;
        }
 
        }
      

      & + li{
        margin-left: 5px;
      }
    }
      a,
      span{
        height: 38px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius:15px;
        font-size: 16px;
        @include f500;
        color:$text;
        &.active{
          background-color: $blue;
          color:#fff;
        }
      }
    }
  }
.categories__content__inner{
  display: none;
}
.categories__item{
  transition: all .5s;
  &.list{
    max-width: 100%;
    .release__item-img{
      width: 230px;
      height: 100%;
      float: left;
    }
    .categories__content__inner{
      display: block;
      display: flex;
      justify-content: space-between;
      padding: 27px 30px 30px 20px;
    }
    .release__item-content,
    .release__item-links{
      display: none;
    }
    .categories__content-texts{
      max-width: 242px;
      width: 100%;
      border-right:1px solid #ececec;
      padding-right: 30px;
    .categories__content-text-title{
        font-size: 18px;
        @include f500;
        line-height: 24px;
        color:#000;
        margin-bottom: 13px;
      }
    }
    .categories__content-text{
      font-size: 16px;
      line-height: 30px;
      color:$text;
      margin-bottom: 20px;
    }
    .categories__content-info{
      max-width: 207px;
      width: 100%;
      border-right:1px solid #ececec;
      padding: 14px 52px 0 16px;
    }
    .categories__content-author{
      display: flex;
      align-items:center;
      span{
        margin-left: 6px;
      }
    }
    .release__item-author{
      margin-bottom: 25px;
    }
    .release__heart{
      margin-left: 0;
      padding-left: 20px;
      margin-bottom: 17px;
      display: inline-block;
      &:before{
        left:0;
      }
      span{
        font-size: 15px;
        color:#6f7d8d;
      }

    }
    .release__comment{
      padding-left: 20px;
      position: relative;
      font-size: 15px;
      color:#6f7d8d;
      display: inline-block;
      margin-bottom: 17px;
    }
    .release__comment:before{
      content: "\ead6";
      font-family: 'Linearicons';
      color: #7347c1;
      position: absolute;
      top: 0;
      left:0;
    }
    .categories__stars{
      display: flex;
      align-items: center;
      span{
        font-size: 15px;
        color:#6f7d8d;
        margin-left: 10px;
      }
    }
    .categories__content-price{
      padding: 38px 0px 38px 20px;
      text-align: center;
    }
    .release__item-price-btn {
    height: 30px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f1fd;
    color: #0674ec;
    font-weight: 500;
    border-radius: 25px;
    margin-bottom: 30px;

  }
  .release__basket::before {
    top: -6px;
    left: -24px;
  }
  .categories__content-basket{
    padding-left: 25px;
  }
}
}
.category__list-link{
  &.active{
    .categories__aside-title-link{
      transform: rotate(180deg);
    }
  }
}



//end categories



