@import 'vars';
@import 'global';
@import 'fonts';

.header{
  color: #333333;
}


.header__top{
  background-color: #eef1f3;
  &-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7px;
  padding-right: 15px;
  height: 100px;
  }
  &-links{
    margin-left: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 50px;
  }
  &-icons{
    a + a {
      margin-left: 33px;
    }

  }

  &-name{
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding-bottom: 8px;
  }
  &-balance{
    color: #0674ec;
    font-size: 15px;
  }
  &-avatar{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 20px;
  }
  &-profile{
    display: flex;
    justify-content: space-between;
  }
  &-btn{
    color:#fff;
    font-size: 14px;
    line-height: 28px;
    width: 140px;
    padding: 4px;
    background-color: #0674ec;
    text-align: center;
    border-radius:15px;
    margin-right: 50px;
  }
}
.header__bottom{
  background-color:#fff;
  &-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
  }
  &-search{
    width: 360px;
    position: relative;
    input{
      display: inline-block;
      width: 100%;
      border:1px solid #d9dfe5;
      height: 44px;
      border-radius: 18px;
      padding-left: 24px;
      border-right: none;
      font-size: 15px;
      line-height: 30px;
      outline: none;      
       &::placeholder{       
        color:#898f96;
        }

    }
    button{
    width: 70px;
    height: 44px;
    background-color: #0674ec;
    border-radius: 18px;
    position: absolute;
    top: 0px;
    right: 0;
    }
  }
}
.menu{
  display: flex;
  align-items: center;
  height: 80px;
  li{
    display: inline-block;
    & + li{
      margin-left: 34px;
    }
  }
  a{
    color:#333333;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    

  }
}
//end header
//start product

.products{
  position: relative;
  background-color: #294dcf;
  min-height: 724px;
  &__texts{
    margin:0 auto;
    color: #fff;
    text-align: center;
    padding-top: 187px;
    h2{
      font-size: 48px;
      font-weight: 400;
      padding-bottom: 24px;
    }
    h3{
      font-size: 48px;
      font-weight: 700;
      
    }
    p{
      font-size: 20px;
      font-weight: 500;
      line-height: 72px;
    }
  }
  &__btn {
    text-align: center;
    
    a{
      font-size: 16px;
      color:#fff;
      padding: 15px 30px;
      background-color: #294dcf;
      border: 1px solid #fff;
      border-radius: 27px;
      display: inline-block;
      margin:0 15px;
      &:hover{
        background-color: #fff;
        color: #0674ec;
      }
      

    }
    
} }

.products__search-panel{
  position: absolute;
  bottom: -66px;
  height: 135px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: -2px -23px 0px -11px rgba(255,255,255,0.5);
  margin-bottom: 1px;
  
  
  
  select{
    font-size: 16px;
    color:#555555;
    margin-left: -3px;;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-image: url(../images/icons/arrow-down.png);
    background-repeat:no-repeat;
    background-position: 90% 50%;
    width: 195px;
    padding-left: 20px;
    outline: none;
    cursor: pointer;
    
    ;   
    
  }
}
.products__search-options{
  margin-left: 40px;
  border: 1px solid #dcdcdc;
  height: 53px;
  border-radius: 1px;
  display: inline-block;
  input{
    height:100%;
    border:none;
    border-right: 1px solid #dcdcdc;
    width: 610px;
    font-size: 16px;
    color: #676767;
    padding: 0 30px;
    outline: none;    
  }
}
.products__search-button{
  margin: 0 40px 0 30px;
  height: 53px;
  border:none;
  background-color: #0674ec;
  font-size:16px;
  line-height: 42px;
  border-radius:1px;
  a{
    color:#fff;
    padding: 0 56px;
  }

}

//end product

